name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  run_tests:
    runs-on: [ubuntu-latest]
    steps:
      - uses:  actions/setup-python@v1
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Run tests
        run: python3 tests.py
